*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
.header{
  min-height: 100vh;
  width: 100%;
  background-image: url(images/web.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img{
  width: 150px;
}
.nav__links{
  flex: 1;
  text-align: right;
}
.nav__links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav__links ul li a{
  color: rgb(100,149,237);
  text-decoration: none;
  font-size: 20px;
}
.nav__links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #00BFFF;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav__links ul li:hover::after{
  width: 100%;
}
.text-box{
  width: 90%;
  color: rgb(100,149,237);
  position: absolute;
  top: 50%;
  left: 50%
  -ms-transform: translate(-50%,-50%);
  text-align: center;
}
.text-box h1{
  font-size: 62px;
}
.text-box p{
  margin: 10px 0 40px;
  font-size: 14px
}
@media(max-width: 700px){
  .text-box h1{
    font-size: 20px
  }
}
.team-profile{
  width: 80%;
  color: #4169E1;
  position: absolute;
  text-align: justify;
}
